@charset "UTF-8";
/* CSS Document */
.topVisual {
    width: 100%;
    height: 500px;
}

.top-imgBox {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
}

.top-text {
    width: 200px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: -150px;
    z-index: 3;
}

.menu-btn {
    display: block;
    width: 42px;
    height: 42px;
    background: white;
    margin-bottom: 20px;
    position: relative;
}

.batu-btn {
    display: block;
    width: 42px;
    height: 42px;
    background: #464646;
    margin-bottom: 20px;
    position: relative;
    display: none;
}

.bar {
    width: 20px;
    border: solid 1px #464646;
}

.bar4 {
    border: solid 1px white;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    left: 10px;
    ransition: .2s;
}

.bar5 {
    border: solid 1px white;
    transform: rotate(135deg);
    position: absolute;
    top: 20px;
    left: 10px;
    ransition: .2s;
}

.nav-link h1 {
    font-size: 20px;
}


.reserve-btn {
    display: none;
}

#right-logo {
    display: none;
}

.concept {
    width: 100%;
    height: auto;
    padding-top: 0px;
}

.concept-img {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 250px;
    height: 400px;
    background-image: url("image/concept.jpg");
    background-size: cover;
    z-index: 1;
   
}

.concept-text {
    width: 100%;
    height: 520px;
    background: #E6EFF1;
    position: relative;
    left: 0px;
    bottom: 0;
}

.concept-textBox {
    font-family: "Futura Thin";
    letter-spacing: .2em;
　　　color: #464646;
    left: 35%;
}

.salon {
    width: 100%;
    height: 500px;
    margin-top: 150px;
    position: relative;
}

.salon-item-Box {
    width: 100%;
    height: 100%;
    display: block;
}


.salon-textBox {
    width: 100%;
    margin-left: 20px;
    display: inline-block;
}

.salon-cardBox {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.card-fadeInBox {
    width: 100%;
    display: flex;
    margin-top: 0;
    padding-left: 0;
    margin-right: 0px;
}

.card {
    width: 200px;
    height: 400px;
    transition: .5s;
    display: none;
}

.card p {
    width: 200px;
}

.salonImg {
    width: 200px;
    height: 200px;
}

.card1-img {
    background-image: url("image/taylor-simpson-Z8s3PRQVuUk-unsplash.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
}

.card2-img {
    background-image: url("image/anthony-tran-Sd9A6NVHsd4-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
}

.card3-img {
    background-image: url("image/the-creative-exchange-dMBexrGJnlo-unsplash.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
}

.menu-box {
    width: 100%;
    height: 1100px;
    background: #F9F9F9;
    margin: 0 auto;
    padding-top: 100px;
}

.menu-textBox {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.coupon-box {
    width: 93%;
    height: 300px;
    border: solid 1px #464646;
    margin: 0 auto;
    position: relative;
}

.coupon-btntitle {
    width: 90%;
    background: #F9F9F9;
    display: inline-block;
    text-align: center;
    line-height: 5px;
    padding: 0 0px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: -30px;
}

.coupon-btnBox {
    width: 100%;
    height: 220px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.coupon-btn {
    display: block;
    text-decoration: none;
    font-family: "Futura Thin";
    color: #464646;
    letter-spacing: 0.2em;
    width: 250px;
    line-height: 60px;
    text-align: center;
    height: 60px;
    background: white;
    transition: .5s;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin: 0 auto;
}

.btn-under {
    margin-top: 60px;
}

.reserve-box {
    width: 100%;
    height: 400px;
    background: #E6EFF1;
    margin: 0 auto;
    margin-top: 150px;
    padding-top: 50px;
    position: relative;
}

.staff {
    width: 100%;
    height: 100px;
    margin-top: 150px;
    position: relative;
}

.staff-item-Box {
    display: block;
    height: 100%;
}

.staff-textBox {
    margin-left: 20px;
    display: inline-block;
    width: 100%;
}

.staff-cardBox {
    width: 100%;
    height: 100%;
    margin-right: 80px;
}

.card-fadeInBox2 {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-right: 80px;
    padding: 0;
    position: relative;
}

.li-box {
    display: flex;
    position: absolute;
    transform: translate(0%);
    margin-top: 40px;
    margin-left: 20px;
    left: 0%;
}

.staff-card {
    width: 130px;
    height: 100%;
    margin-left: 15px;
    display: none;
}

.staffImg {
    width: 130px;
    height: 130px;
}

.Scard1-img {
    width: 130px;
    height: 130px;
    background-image: url("image/staff１.png");
    background-size: cover;
}

.reserve {
    width: 100%;
    height: 600px;
    padding-top: 150px;
}


.site-map {
    height: 100px;
    background: #F9F9F9;
    color: #464646;
    padding-left: 0px;
    padding-right: 0px;
    letter-spacing: .2em;
    text-align: center;
}

.site-map-right {
    float: none;
    background: white;
    padding-bottom: 10px;
}

.site-mapLink1,.site-mapLink2 {
    text-decoration: none;
    color: #464646;
    display: inline-block;
    letter-spacing: .3em;
}

.site-mapLink1:hover {
    opacity: .5;
}

.site-mapLink2:hover {
    opacity: .5;
}

.site-map-left p {
    margin-top: 4px;
    display: inline-block;
    margin-bottom: 85px;
}

footer {
    width: 100%;
    height: 40px;
    display: block;
    position: fixed;
    bottom: 40px;
    z-index: 2;
}

.footer-lavel {
    width: 100%;
    height: 45px;
    margin: 0 auto;
    display: inline-block;
    padding-left: 20px;
}

.footer-lavel p {
    font-size: 10px;
    letter-spacing: .2em;
}

.lavel1 {
    background: #C1D3DB;
    color: white;
    text-align: left;
}

.white-lavels {
    display: flex;
}

.lavel2 {
    background: #B1C9D2;
    color: white;
    border-left: solid 1px white;
    border-left: none;
    text-decoration: none;
}

.lavel2:hover {
    opacity: .7;
    transition: .3s;
}

.lavel3 {
    width: 100%;
    background: #B1C9D2;
    color: white;
    border-left: solid 1px white;
    text-decoration: none;
}

.lavel3:hover {
    opacity: .7;
    transition: .3s;
}
